<!--<form action="">
  
    <div formArrayName="addresses">
        <div *ngFor="let address of profileInfoform.controls.addresses.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Address {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="profileInfoform.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <label>street</label>
                <input type="text" class="form-control" [formControl]="address.controls.address1" [(ngModel)]="address.address1">
            </div>
        </div>
    </div>

    <div class="margin-20">
        <a (click)="addAddress()" style="cursor: default">
                                        Add another address +
                                    </a>
    </div>

</form>-->

<!--<address [group]="profileInfoform.controls.addresses.controls[i]"></address>-->

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{address.UniqId}}">
        {{address.address1}}</a>
            </h4>
        </div>


        <div id="collapse{{address.UniqId}}" class="accordion-body panel-heading collapse">
            <div class="panel-body">

                <form (ngSubmit)="onSubmit()" [formGroup]="addressform">

                    <div><a href="#" (click)="deleteAddress()">Delete</a> </div>
                    <div class="form-group">
                        <label>Address 1</label>
                        <input type="text" class="form-control" [formControl]="addressform.controls.address1" [(ngModel)]="address.address1">
                    </div>
                    <div class="form-group">
                        <label>Address 2</label>
                        <input type="text" class="form-control" [formControl]="addressform.controls.address2" [(ngModel)]="address.address2">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" [formControl]="addressform.controls.city" [(ngModel)]="address.city">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control" [formControl]="addressform.controls.state" [(ngModel)]="address.state">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" [formControl]="addressform.controls.country" [(ngModel)]="address.country">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" *ngIf="address.UniqId">Update Address</button>
                        <button type="button" (click)="insertaddress($event)" class="btn btn-info" *ngIf="!address.UniqId">Insert Address</button>
                    </div>

                </form>


            </div>
        </div>

    </div>
</div>

