<div class="container-md">
    <div class="row">
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bg-gray-lighter text-bold">Personal Settings</div>
                <div class="list-group"><a href="#tabSetting1" data-toggle="tab" class="list-group-item">Profile</a>
                    <a href="#tabSetting2" data-toggle="tab" class="list-group-item">Addresses</a>
                    <a href="#tabSetting3" data-toggle="tab" class="list-group-item">Education</a>
                    <a href="#tabSetting4" data-toggle="tab" class="list-group-item">Experience</a>
                    <a href="#tabSetting5" data-toggle="tab" class="list-group-item">Applications</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content p0 b0">
                <div id="tabSetting1" class="tab-pane active">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Profile</div>
                        <div class="panel-body">
                            <form [formGroup]="profileInfoform" (submit)="saveprofileInfo(profileInfoform)" novalidate enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Picture</label>
                                    <input type="file" #fileInput data-input="false" data-classbutton="btn btn-default" data-classinput="form-control inline" data-buttontext="Upload new picture"
                                        data-iconname="fa fa-upload mr" class="form-control filestyle" id="filestyle-0" tabindex="-1"
                                        style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group"><span class="group-span-filestyle " tabindex="0"><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle fa fa-upload mr"></span>                                        <span class="buttonText">Upload new picture</span></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <!--<input type="text" class="form-control" name="firstName" [(ngModel)]="userprofile.firstName">-->
                                    <input type="text" name="firstName" class="form-control" [formControl]="profileInfoform.controls.firstName" [(ngModel)]="userprofile.firstName">

                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lastName" class="form-control" [formControl]="profileInfoform.controls.lastName" [(ngModel)]="userprofile.lastName">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Update settings</button>
                                    <p>
                                        <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="tabSetting2" class="tab-pane">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Addresses</div>
                        <br>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-success col-md-12" (click)="addAddress($event)">Add Address</button>
                        </div>

                        <div class="panel">
                            <div class="panel-body" *ngFor="let address of addresses; let i = index">
                                <div>
                                    <a href="#" class="btn btn-danger col-md-12" (click)="deleteAddress($event,i,address)">Delete</a>
                                    <address [address]="address">
                                    </address>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabSetting3" class="tab-pane">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Educations</div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-success col-md-12" (click)="addEducation($event)">Add Education</button>
                        </div>
                        <div class="panel">
                            <div class="panel-body" *ngFor="let education of educations; let i = index">
                                <div>
                                    <a href="#" class="btn btn-danger col-md-12" (click)="deleteEducation($event,i,education)">Delete</a>
                                    <education [education]="education">
                                    </education>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="tabSetting4" class="tab-pane">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Experience</div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-success col-md-12" (click)="addExperience($event)">Add Experience</button>
                        </div>
                        <div class="panel">
                            <div class="panel-body" *ngFor="let experience of experiences; let i = index">
                                <div>
                                    <a href="#" class="btn btn-danger col-md-12" (click)="deleteExperience($event,i,experience)">Delete</a>
                                    <experience [experience]="experience">
                                    </experience>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabSetting5" class="tab-pane">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Applications</div>
                        <div class="panel-body">
                            <p>
                                <span>You have granted access for</span>
                                <strong>3 applications</strong>
                                <span>to your account.</span>
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item clearfix">
                                    <div class="pull-left mr">
                                        <img src="img/dummy.png" alt="App" class="img-responsive thumb48">
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default">
                                             <strong>Revoke</strong>
                                          </button>
                                    </div>
                                    <p class="text-bold mb0">Application #1</p>
                                    <small>Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.</small>
                                </li>
                                <li class="list-group-item clearfix">
                                    <div class="pull-left mr">
                                        <img src="img/dummy.png" alt="App" class="img-responsive thumb48">
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default">
                                             <strong>Revoke</strong>
                                          </button>
                                    </div>
                                    <p class="text-bold mb0">Application #2</p>
                                    <small>Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.</small>
                                </li>
                                <li class="list-group-item clearfix">
                                    <div class="pull-left mr">
                                        <img src="img/dummy.png" alt="App" class="img-responsive thumb48">
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default">
                                             <strong>Revoke</strong>
                                          </button>
                                    </div>
                                    <p class="text-bold mb0">Application #3</p>
                                    <small>Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>